{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if photos %}
      <h2>Found {{ category|length }} of searched pictures {{message}}</h2>
    {% else %}
      <h2> No images under  this category {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for category in category %}
      <div class="col-md-4">
        <img src="{{ photo.photo_image.url }}">
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}