body{
    background-color: white;
}


.rows{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 10px;
}


img{
    width:250px;
    height: 300px;
    box-shadow: 5px 3px 5px #CCECFE;
    
}


